$color1: #ffffff;
$color2: #427ec7;
$color3: #427ec8;
$color4: #ffffff;
$color5: #427ec8;
$color6: #ffffff;
$color7: #e6ba2a;
$font-family: 'Fondamento';


.jumbotron {
    background-color: $color1;
    align-items: center;
    display: flex;
    height: 7em;
    justify-content: center;

}

.titulo {
    font-family: $font-family;
    color: $color2;
    margin-left: 20%;
    margin-right: 20%;

}

.texto-fran {
    font-family: $font-family;
    color: $color1;
    word-break: break-all;

}

.instagram{
    color: $color2;
    

}

.navbar,
footer {
    font-family: $font-family;
    background-color: $color3;
}

.menu {
    color: $color4;
}

.navbar-brand,
nav-link {
    color: $color1;
}

.banner {
    background-color: $color5;
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 2em;
    border-radius: 10px;
}

.fondo {
    background-color: $color6;
    height: 100%;
}

.bandera {
    height: 70%;
    margin-right: 10%;
}

.banner-texto {
    font-family: $font-family;
    color: $color1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-texto {
    height: 95%;
}

.slider {
    background-color: $color1;
    height: 60%;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
    margin-bottom: 1%;
    border-radius: 10px;
    border: 5px $color5 solid;

}

.carousel-item {
    max-height: 90%;
    float: left;
    padding: 1%;
    margin: 1%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.texto {
    float: right;
    background-color: $color1;
    font-family: $font-family;
    color: $color1;
    align-items: center;
    display: flex;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom:1%;
    border-radius: 5px;
    border: 3px $color5 solid;
    padding: 1%;
    width: 40%;
}

footer {
    align-items: center;
    display: flex;
    height: 8em;
    justify-content: start;
}

.card-img-top {
    height: 10em;
    background-color: $color5;

}

.card {
    margin: 1%;
    padding: 1%;
    justify-content: center;
    align-items: center;

}

.card-container {
    background-color: $color1;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 10%;
    border-radius: 10px;
    border: 5px $color7 solid;
}
.tabla-precios,
.tabla-videos {
    background-color: $color1;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 10%;
    border-radius: 10px;
    border: 5px $color5 solid;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
    justify-content: center;
}

.nombre,
.apellidos,
.direccion,
.cp,
.email,
.telefono {
    margin-left: 1%;
    font-family: $font-family;
    color: $color2;
}

.form-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color1;
}

.form-label {
    color: $color1;
}

.form-label2 {
    color: $color1;
    font-family: $font-family;
    margin-left: 10%;
}

.form-control2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 20%;
    margin-top: 1%;
    margin-left: 10%;
    border-radius: 2px;
    // background-color: $color3;
}

.form-control {
    background-color: $color3;
}

.espacio,
.enviar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: $font-family;
    color: $color1;
    background-color: $color5;
    border-radius: 10px;
}

.enviar {
    margin-left: 15%;
    margin-right: 15%;
}

.container-boton {
    display: flex;
    justify-content: center;

}

.boton {
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: $color2;

}

.rfeg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    margin-left: 2%;
    margin-right: 2%;
}

.aside-texto {
    border-radius: 5px;
    word-break: break-all;
}

.titulo-precios,
.titulo-videos {
    background-color: $color4;
    height: 5%;
    width: 50%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 10%;
    border-radius: 10px;
    border: 5px #F1E15A solid;
}

.btn-group {
    margin-bottom: 2%;
}

.botones-precios,
.botones-videos {
    height: 5%;
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;    
    margin-bottom: 2%;    
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6 {
    background-color: $color4;
    height: 30%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    border: 5px $color1 solid;
    margin: auto !important;
}

.table-responsive {
    font-family: $font-family;
}

$aspect-ratios: (
    "1x1": 100%,
    "4x3": calc(3 / 4 * 100%),
    "16x9": calc(9 / 16 * 100%),
    "21x9": calc(9 / 21 * 100%)
);

