.jumbotron {
  background-color: #175812;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
}

.titulo {
  font-family: "Fondamento";
  color: #f5f5f5;
}

.texto-rfeg {
  font-family: "Fondamento";
  color: #175812;
}

.navbar,
footer {
  font-family: "Fondamento";
  background-color: #F7E594;
}

.menu {
  color: #26E7E7;
}

.navbar-brand,
nav-link {
  color: #26E7E7;
}

.banner {
  background-color: #F1E15A;
  margin-top: 20px;
  margin-left: 10%;
  width: 80%;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 75px;
  border-radius: 10px;
}

.fondo {
  background-color: #39D3CA;
  height: 100%;
}

.bandera {
  height: 50px;
  width: 75px;
  margin-right: 80px;
}

.banner-texto {
  font-family: "Fondamento";
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-texto {
  height: 95%;
}

.slider {
  background-color: #175812;
  height: 850px;
  width: 80%;
  margin-left: 10%;
  align-items: center;
  display: inline-flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding-left: 1%;
  border-radius: 10px;
  border: 5px #F1E15A solid;
}

.carousel-item {
  max-height: 800px;
  float: left;
  padding: 1%;
  margin: 1%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.text {
  background-color: #175812;
  height: 375px;
  width: 80%;
  margin-left: 10%;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-top: 10px;
  margin-right: 80px;
}

.texto {
  float: right;
  background-color: #175812;
  font-family: "Fondamento";
  color: #f5f5f5;
  align-items: center;
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  border: 3px #F1E15A solid;
  padding: 5px;
  width: 40%;
}

footer {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: start;
}

.card-img-top {
  height: 200px;
  width: 100px;
  background-color: #F1E15A;
}

.card {
  margin: 1%;
  padding: 1%;
  height: 250px;
  justify-content: center;
  align-items: center;
}

.card-container, .tabla-precios, .tabla-videos {
  background-color: #175812;
  height: 100%;
  width: 80%;
  margin-left: 10%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-right: 10%;
  border-radius: 10px;
  border: 5px #F1E15A solid;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  align-items: center;
  justify-content: center;
}

.nombre, .apellidos, .direccion, .cp, .email, .telefono {
  margin-left: 1%;
  font-family: "Fondamento";
  color: #f5f5f5;
}

.form-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #175812;
}

.form-label {
  color: #175812;
}

.form-label2 {
  color: #175812;
  font-family: "Fondamento";
  margin-left: 10%;
}

.form-control2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 20%;
  margin-top: 1%;
  margin-left: 10%;
  border-radius: 2px;
}

.form-control {
  background-color: #F7E594;
}

.espacio, .enviar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Fondamento";
  color: #175812;
  background-color: #F1E15A;
  border-radius: 10px;
}

.enviar {
  margin-left: 15%;
  margin-right: 15%;
}

.container-boton {
  display: flex;
  justify-content: center;
}

.boton {
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
}

.rfeg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
}

.aside-texto {
  border-radius: 5px;
}

.titulo-precios, .titulo-videos {
  background-color: #26E7E7;
  height: 5%;
  width: 50%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 10%;
  border-radius: 10px;
  border: 5px #F1E15A solid;
}

.btn-group {
  margin-bottom: 2%;
}

.botones-precios, .botones-videos {
  height: 5%;
  width: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.row-1, .row-2, .row-3, .row-4, .row-5, .row-6 {
  background-color: #26E7E7;
  height: 30%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  border: 5px #175812 solid;
  margin: auto !important;
}

.table-responsive {
  font-family: "Fondamento";
}

/*# sourceMappingURL=styles.css.map */
